<% @lemma.additional_attributes(side).each do |field| -%>
  <% if @lemma[field].present? -%>
    <% sideless = field.to_s.sub(/[12]$/, '') %>
    <% attributes << capture do -%><span class="<%= sideless %>"><%= h(send "formatted_#{sideless}", side) %></span><% end %>
  <% end %>
<% end %>

