<div class="span-2">
  <% if current_user_is_admin then %>
    <% link_to(new_lemma_collocation_path(@lemma)) do %>
      <%= image_tag 'icons/plus_small.png' %>
    <% end %>
  <% else %>
    &nbsp;
  <% end %>
</div>

<div class="subentry-line span-22 last">
  <%= t(:collocations) %>
</div>

<%= render :partial => "collocation", :collection => @collocations %>

<%= render :partial => "collocations/ajax_edit"  if current_user_is_admin %>

