<div class="subentry-line span-24 last">

  <div class="span-22">
    <h6><%= t(:collocations) %></h6>
  </div>

  <div class="span-2 last">
    <% if current_user_is_admin then %>
      <a class="multi-button cmd-addCollocation" href="#"><span></span></a>
    <% else %>
      &nbsp;
    <% end %>
  </div>
</div>


<ol id="<%= path_to_id(lemma_collocations_path(@lemma)) %>"
    class="collocations column last">
  <%= render :partial => "collocation", :collection => @collocations %>
</ol>

<%= render :partial => "collocations/ajax_edit"  if current_user_is_admin %>

