<% content_tag_for(:tr, example) do %>
  <td class=""></td>
  <td class="">
    <%= h example.form1 %>
  </td>
  <td class="">
    <%= h example.form2 %>
  </td>
  <td class="">

    <% if current_user_is_admin then %>
      <% link_to(edit_lemma_example_path(@lemma, example)) do %>
        <%= image_submit_tag 'icons/notebook_pencil.png' %>
      <% end %>
      <% link_to([@lemma, example], {:confirm => t(:confirm_question), :method => :delete}) do -%>
        <%= image_submit_tag 'icons/notebook_minus.png' %>
      <% end %>
    <% end %>
  </td>
<% end %>

