<div class="subentry-line span-22">
  <%= t(:examples) %>
</div>

<div class="span-2 last">
  <% if current_user_is_admin then %>
    <% link_to(new_lemma_example_path(@lemma)) do %>
      <%= image_tag 'icons/plus_small.png' %>
    <% end %>
  <% else %>
    &nbsp;
  <% end %>
</div>

<%= render :partial => "example", :collection => @examples, :locals => { :exampleable => @lemma } %>

<%= render :partial => "examples/ajax_edit" if current_user_is_admin %>

