<div style="display: none;" id="multiButtonMenu">
  <div>
    <ul class="lfmDropDownBody">
      <li class="cmd-edit"><a href="#">Editieren</a></li>
      <li class="cmd-delete"><a href="#">Löschen</a></li>
      <li class="cmd-add-example"><a href="#">Beispiel anfügen</a></li>
    </ul>
  </div>
</div>

