<h3>In anderen Suchmaschinen suchen:</h3>

<ul>
  <li><a target="_blank" href="http://dict.leo.org/ende?search=<%= h(params[:q]) %>">LEO</a></li>
  <li><a target="_blank" href="http://www.dict.cc/?s=<%= h(params[:q]) %>">dict.cc</a></li>
  <li><a target="_blank" href="http://dict.tu-chemnitz.de/dings.cgi?query=<%= h(params[:q]) %>">beolingus</a></li>
</ul>

