<div class="subentry-line span-24 last">

  <div class="span-22">
    <h6><%= t(:phraseologisms) %></h6>
  </div>

  <div class="span-2 last">
    <% if current_user_is_admin then %>
      <a class="multi-button cmd-add-phraseologism cmd-sort"
         href="#"><span></span></a>
    <% else %>
      &nbsp;
    <% end %>
  </div>
</div>

<div id="phraseologisms">
  <%= render :partial => "phraseologism", :collection => @phraseologisms %>
</div>

<%= render :partial => "phraseologisms/ajax_edit"  if current_user_is_admin %>

