<div class="subentry-line span-24 last">

  <div class="span-22">
    <h6><%= t(:phraseologisms) %></h6>
  </div>

  <div class="span-2 last">
    <% if current_user_is_admin then %>
      <a class="multi-button cmd-addPhraseologism" href="#"><span></span></a>
    <% else %>
      &nbsp;
    <% end %>
  </div>
</div>

<ol id="<%= path_to_id(lemma_phraseologisms_path(@lemma)) %>"
    class="phraseologisms">
  <%= render :partial => "phraseologism", :collection => @phraseologisms %>
</ol>

<%= render :partial => "phraseologisms/ajax_edit"  if current_user_is_admin %>

