<div class="subentry-line span-22">
  <%= t(:phraseologisms) %>
</div>

<div class="span-2 last">
  <% if current_user_is_admin then %>
    <% link_to(new_lemma_phraseologism_path(@lemma)) do %>
      <%= image_tag 'icons/plus_small.png' %>
    <% end %>
  <% else %>
    &nbsp;
  <% end %>
</div>

<%= render :partial => "phraseologism", :collection => @phraseologisms %>

<%= render :partial => "phraseologisms/ajax_edit"  if current_user_is_admin %>

