<a class="delete-button" href="#"><%= image_tag 'delete.png' %></a>
<span class="really-delete">
  <a class="cancel" href="#"><%= image_tag 'icons/cross.png' %></a>
  <a class="accept" href="#"><%= image_tag 'icons/eraser.png' %></a>
</span>
