<p>
  Search through more than 900,000 translations with examples and hints,
  explanations, synonyms, sayings, aphorisms, and quotations in English and
  German. Browse lists for special topics. Listen to German and English
  pronunciations spoken by native speakers.

  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque id
  massa non purus porta bibendum. Vestibulum ante ipsum primis in faucibus orci
  luctus et ultrices posuere cubilia Curae; Nam venenatis. Vestibulum vehicula
  tristique lacus. Phasellus cursus lacinia libero. Nunc elit tellus, aliquet
  laoreet, commodo et, tempus nec, nunc. Suspendisse ornare tellus nec leo
  pretium fringilla. Aliquam quis felis. Sed molestie massa vel odio. Sed
  imperdiet leo consectetuer nisi. Pellentesque dolor odio, condimentum ut,
</p>

<% if not params[:q].blank? -%>
  <p>
    <%= @lemmata.size %> <%= t(:search_results_for) %> "<%= h(params[:q]) %>"
  </p>
  <ul id="lemmata">
    <% for lemma in @lemmata -%>
      <% content_tag_for(:li, lemma) do %>
        <%= link_to h("#{lemma.short1} · #{lemma.short2}"), lemma_path(lemma) %>
      <% end %>
    <% end %>
  </ul>
<% end %>
