<p>
  Search through more than 900,000 translations with examples and hints,
  explanations, synonyms, sayings, aphorisms, and quotations in English and
  German. Browse lists for special topics. Listen to German and English
  pronunciations spoken by native speakers.
</p>

<% if not params[:q].blank? -%>
  <p>
    <%= @lemmata.size %> <%= t(:search_results_for) %> "<%= h(params[:q]) %>"
  </p>
  <ul id="lemmata">
    <% for lemma in @lemmata -%>
      <% content_tag_for(:li, lemma) do %>
        <%= link_to h("#{lemma.short1} · #{lemma.short2}"), lemma_path(lemma) %>
      <% end %>
    <% end %>
  </ul>
<% end %>
