<h1>Lemmata</h1>

<h2>für das Themengebiet "<%= h @category.name %>"</h2>

<% if @lemmata.empty? then %>
  <div class="notice">
    Diesem Themengebiet sind bisher keine Lemmata zugeordnet.
  </div>
<% end %>

<ul>
  <% for lemma in @lemmata %>
    <li><%= h lemma.short1 %> | <%= h lemma.short2 %></li>
  <% end %>
</ul>

<br />

<%= link_to 'New lemma', new_category_lemma_path(@category) %>
