/*======================================
      WELCOME TO THE STYLESHEET
======================================*/

/**************************************\
|------------COLOR SCHEME--------------|
|--------------------------------------|
- black		#000
- white		#fff
\**************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/
body {
    background: #ccc url(../images/background.png) 50% top repeat-y;
  }


/**************************************/
/*              HEADER                */
/**************************************/
#header {
    background: #222 url(../images/landing_header_shine.png) 50% 50% no-repeat;
    padding: 3.5em 0 2.5em;
    border-bottom: 2px solid #222;
  }
#header h1 {
    color: #fff;
    text-align: center;
  }

/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/
#main {
  }


/**************************************/
/*               FOOTER               */
/**************************************/
#footer {
  text-align: center;
  }

