/*======================================
      WELCOME TO THE STYLESHEET
======================================*/

/**************************************\
|------------COLOR SCHEME--------------|
|--------------------------------------|
- black		#000
- white		#fff

#E7F8FB
#C9EDF4
#3CC5DE

#40A2B7

\**************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/
body {
  background: #FFFFFF url(../images/background.png) repeat-x scroll left top;
}

a:focus,
a:hover {
  color: #3CC5DE;
}

a {
  color: #40A2B7;
}

thead th, th {
  background:  #C9EDF4;
}

label {
  font-weight: normal;
}
label.heading {
  font-weight: bold;
  display: block;
}

/* input field hint */
.hint {
  color: #C9EDF4;
}

.box {
  background:#E7F8FB;
}

.fieldWithErrors {
  display: table;
  padding: 2px;
  -moz-border-radius: 2px;
  background-color: #FF2299;
}

.input-error {
  color: #FF2299;
}

/**************************************/
/*              HEADER                */
/**************************************/
#head {
  line-height: 30px;
}

#head ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#head ul li {
  border-left: 1px solid #878984;
}

#head ul li.last {
  border-right: 1px solid #878984;
}

#head ul li a {
  color: #FFFFFF;
  padding: 0 12px;
  text-decoration: none;
  text-transform: lowercase;
}

#head img {
  position: relative;
  top: 4px;
}

#head .active {
  text-align: center;
  background: transparent url(../images/active_section.png) no-repeat scroll center bottom;
}

#head .active a {
  color: #FFFFFF;
  padding: 0 12px;
  border-left: 1px solid #878984;
  border-right: 1px solid #878984;
  text-decoration: none;
  text-transform: lowercase;
}

#head #session {
  text-align: right;
}

#head #session ul {
  display: inline;
}

#head #session li {
  display: inline;
}


/**************************************/
/*             NAVIGATION             */
/**************************************/

#speedy {
  margin-top: 24px;
  background-color: #3CC5DE;
  padding: 1.5em;
  color: white;
}

#speedy .input {
  border: none;
  font-size: 1.5em;
  padding: 5px 10px 5px 7px;
  vertical-align: top;
}

.search_button {
  vertical-align: top;
  margin: 0 0.583em 0.667em 0;
  padding: 7px;

  border:1px solid #dedede;
  border-top:1px solid #eee;
  border-left:1px solid #eee;

  background-color:#f5f5f5;
}


#search_term:before {
  content: open-quote;
  font-weight: bold;
}

#search_term:after {
  content: close-quote;
  font-weight: bold;
}



/**************************************/
/*            LEMMA HEADLINE          */
/**************************************/

.lemma h1 span.quiet {
  color: #888;
}


.lemma div.categories {
  margin-bottom: 3em;
}

.lemma ul.ancestors {
  display: inline;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-right: 3em;
  background-color: #E7F8FB;
}

.lemma ul.ancestors li {
  display: inline;
}


/**************************************/
/*            MAIN CONTENT            */
/**************************************/

#content {
  padding: 17px 0 0 0;
}

.lemma .phonetic:hover,
.lemma .class:hover,
.lemma .level:hover {
  color: red;
}

.form1, .form2 {
  font-weight: bold;
}

.example .form1, .example .form2 {
  font-style: italic;
  font-weight: normal;
}

.entry .form1, .entry .form2 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

.subentry {
  padding-bottom: 1.5em;
}

.subentry-line {
  background: #E7F8FB;
  margin-bottom: 1.5em;
}


.subentry-line h6 {
  color: #40A2B7;
  padding: 0.75em;
}

.drag-handle {
  cursor: move;
}

.dropmarker {
  border-bottom: 1px dashed black;
  height: 1px;
  width: 100%;
}

#collocations, #phraseologisms, #valencies {
  float: left;
  padding: 1.5em 0;
}

ol.collocations, ol.phraseologisms, ol.valencies, ol.examples {
  list-style-type: none;
  margin: 0;
}

ol.collocations li,
ol.phraseologisms li,
ol.valencies li,
ol.examples li {
  padding: 0;
}

/**************************************/
/*               FOOTER               */
/**************************************/
#footer {
  padding-top: 3em;
  color: #C9EDF4;
  text-align: center;
}

/**************************************/
/*               MISC                 */
/**************************************/
th[scope="row"] {
  text-align: right;
}


/**************************************/
/*               MULTI BUTTON         */
/**************************************/


a.multi-button {
  background: transparent url(../images/small_multi.png) no-repeat scroll right top;
  display: block;
  padding: 0;
  height: 15px;
  position: relative;
  left: -9999px;
}

a.multi-button:hover {
  background-position: right bottom;
}

a.multi-button span {
  background: transparent none repeat scroll 0 0;
  display: block;
  width: 26px;
  height:15px;
}

div.entry-line:hover, div.subentry:hover {
  background-color: #FFF;
  background-image: url(../images/hover_gradient.gif);
  background-repeat: repeat-y;
}

div.entry-line:hover a.multi-button,
div.subentry-line:hover a.multi-button,
div.subentry:hover a.multi-button {
  left: 0;
}

div.subentry-line a.multi-button {
  margin: 0.75em 0;
}

a.active-multi-button {
  left: 0;
  background-position: right bottom !important;
}



#multi-button-menu {
    position: absolute;
    margin: 0 0 0 7px;
    z-index: 50;
}

#multi-button-menu li {
    display: none;
}

#multi-button-menu div.cmd-edit             li.cmd-edit,
#multi-button-menu div.cmd-editLemma        li.cmd-editLemma,
#multi-button-menu div.cmd-deleteEntry      li.cmd-deleteEntry,
#multi-button-menu div.cmd-addExample       li.cmd-addExample,
#multi-button-menu div.cmd-sortEntries      li.cmd-sortEntries,
#multi-button-menu div.cmd-addCollocation   li.cmd-addCollocation,
#multi-button-menu div.cmd-addPhraseologism li.cmd-addPhraseologism,
#multi-button-menu div.cmd-addValency       li.cmd-addValency {
    display: block;
}

.multi-button-drop-down {
    position: absolute;
    margin: 0;
    background: #fff;
    border: 1px solid #ccc;
}
ul.multi-button-drop-down {
    border-bottom: 0;
    font-size: 10px;
}

ul.multi-button-drop-down li {
    width: auto;
    border-bottom: 1px solid #40A2B7;
    white-space: nowrap;
}
ul.multi-button-drop-down li a {
    display: block;
    padding: 1px 4px;
    background: #E7F8FB;
    color: #40A2B7;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.6;
    text-decoration: none;
}
ul.multi-button-drop-down li a:hover {
    background: #C9EDF4;
    color: #3CC5DE;
}
ul.multi-button-drop-down li small {
    margin-left: 4px;
    font-size: 9px;
    font-weight: bold;
}

.done {
  background-color: #C9EDF4;
  clear: both;
  padding: 0.75em;
  text-align:right;
}

/**************************************/
/*                                    */
/**************************************/


.entry-edit, .subentry-edit {
  background: white;
  border: 1px solid #E7F8FB;
}

/*
.tag {
  background: transparent url(../images/tag.png) no-repeat scroll left center;
  border-right: 1px solid #C1D0D2;
  display: block;

  height: 16px;
  line-height: 16px;

  padding: 1px 3px 1px 9px;

  text-decoration:none;
}
*/

.invitation div {
  background: #3CC5DE;
  border: 1px solid #40A2B7;
  padding: 0.7em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
}

.invitation, .invitation a {
  color: white;
}

.invitation .or-close, .invitation .or-close a {
  color: #eee;
}


.or-close {
  font-size:.8em;
  margin-bottom:1.875em;
  line-height:1.875em;
}

.or-close, .or-close a {
  color: #666;
}

.sort-context {
  border: 1px dashed #E7F8FB;
}
