/*======================================
      WELCOME TO THE STYLESHEET
======================================*/

/**************************************\
|------------COLOR SCHEME--------------|
|--------------------------------------|
- black		#000
- white		#fff
\**************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/
body {
  }


/**************************************/
/*              HEADER                */
/**************************************/
#header {
    background: #222 url(../images/landing_header_shine.png) 50% 50% no-repeat;
    padding: 3.5em 0 2.5em;
    border-bottom: 2px solid #222;
  }
#header h1 {
    color: #fff;
    text-align: center;
  }
#callout {
    background-color: #666;
    border-bottom: 1px solid #555;
  }
#callout h6 {
    color: #fff;
    text-align: center;
  }

/**************************************/
/*             NAVIGATION             */
/**************************************/
ul.ancestors {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  }
ul.ancestors li {
  display: inline;
  }
ul.ancestors li:before {
  content: " » ";
  }

#navigation ul {
  list-style-type: none;
  text-align: right;
  }
#navigation ul li {
  display: inline;
  margin: 0 3px;
  padding: 0;
  }
#navigation ul li a {
  display: inline;
  padding: 0.5em;
  text-decoration: none;
  }
#navigation ul li a:hover {
  background-color: #eee;
  }

/**************************************/
/*            MAIN CONTENT            */
/**************************************/
#main {
  margin-top: 1em;
  }

#content {
  background-color: #fff;
  }

/**************************************/
/*               FOOTER               */
/**************************************/
#footer {
  width: 955px;
  text-align: left;
  margin: 1em auto 1em auto;
  padding-left: 40px;
  }

/**************************************/
/*               MISC                 */
/**************************************/
th[scope="row"] {
  text-align: right;
  }
