<% form_tag categories_path do %>
  <%= hidden_field_tag 'category[parent_id]', @category.id unless @category.nil? %>
  <p>
    <%= label_tag 'category[name]', 'Themengebiet hinzufügen:' %>
    <%= text_field_tag 'category[name]' %>
    <%= submit_tag "Anlegen" %>
  </p>
<% end %>

