<h1><%= t :categories %></h1>

<ul id="categories">
  <% for category in @categories %>
    <% content_tag_for(:li, category) do %>
      <%=link_to h(category.name), category %>
    <% end %>
  <% end %>
</ul>

<% content_for :sidebar do %>
<%= link_to t(:add_category), new_category_path  %>
<% end %>

