<h1><%= t :categories %></h1>

<ul>
  <% for category in @categories %>
    <li>
      <%=link_to category.name, category %>
    </li>
  <% end %>
</ul>

<br />

<%= render :partial => "new_category" %>

