<h1><%= t :categories %></h1>

<ul>
  <% for category in @categories %>
    <li>
      <%=link_to h(category.name), category %>
    </li>
  <% end %>
</ul>

<% content_for :sidebar do %>
<%= link_to t(:add_category), new_category_path  %>
<% end %>

